.header{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:100;
}
.nav{
    height:calc(var(--header-height)+1.5rem);
    display:flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav__logo-img{
    width:190px;
    margin-top:20px;
    margin-bottom:10px;
    cursor: pointer;
  
}
.nav__list{
    display: flex;
    column-gap:2rem;
}

.nav__link,
.nav__toggle{
    color:var(--title-color);
    cursor: pointer;
}
.nav__link{
    font-size:var(--larger-font-size);
    font-weight: var(--weight-500);
}
.nav__toggle{
    font-size:var(--h2-font-size);
    display: none;
}

/*=================
* Scroll Header
==================*/

.scroll-header{
    position: fixed;
    background: var(--second-color);
    box-shadow: 0 0 10px #000;
    animation: slide-down 0.7s;
    z-index:99;
}

@keyframes slide-down{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.active,
.nav__link:hover{
    color:var(--first-color) !important;
}